.searchbar {
	align-self: center;
	height: 150px;
}
.search {
	width: 600px;
	height: 40px;
	border-radius: 10px;
	border-color: var(--text-default);
	padding: 10px;
}
.button {
	height: 40px;
	width: 80px;
	padding: 10px;
	text-align: center;
}