.main {
	display:flex;
	flex-direction: column;
	overflow: auto;
	flex-grow: 1;
	background-color: var(--bg-secondary);
	justify-content: center;
	align-items: center;
}

.container {
	width: 90%;
	height: 100%;
	padding: 10px;
}