@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full w-full bg-background text-text;
  }

  :root {
    --text: #efe2fd;
    --background: #10021d;
    --static: rgba(255, 255, 255, 0.03);
    --static2: rgba(255, 255, 255, 0.1);
    --primary-50: #0c0515;
    --primary-100: #170a29;
    --primary-200: #2f1353;
    --primary-300: #461d7c;
    --primary-400: #5e27a5;
    --primary-500: #7530cf;
    --primary-600: #915ad8;
    --primary-700: #ac83e2;
    --primary-800: #c8acec;
    --primary-900: #e3d6f5;
    --primary-950: #f1eafa;

    --secondary-50: #0c0416;
    --secondary-100: #17082b;
    --secondary-200: #2e1056;
    --secondary-300: #451881;
    --secondary-400: #5d20ac;
    --secondary-500: #7428d7;
    --secondary-600: #9053df;
    --secondary-700: #ab7ee7;
    --secondary-800: #c7a9ef;
    --secondary-900: #e3d4f7;
    --secondary-950: #f1e9fb;

    --accent-50: #0b0316;
    --accent-100: #17062d;
    --accent-200: #2e0d59;
    --accent-300: #451386;
    --accent-400: #5c19b3;
    --accent-500: #7320df;
    --accent-600: #8f4ce6;
    --accent-700: #ab79ec;
    --accent-800: #c7a6f2;
    --accent-900: #e3d2f9;
    --accent-950: #f1e9fc;
  }
}

@layer components {
  .btn {
    @apply font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 bg-accent-400 focus:outline-none hover:bg-accent-500 disabled:bg-accent-300 disabled:cursor-not-allowed;
  }
  .tile {
    @apply bg-static shadow-lg rounded-lg;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
