.lore {
	background-color: var(--card);
	width: 60rem;
	padding: 10px;
	line-height: 1.5rem;
}

.container {
	width: 90%;
	height: 100%;
	padding: 10px;
}

.title {
	font-size: 2.5rem;
	
	img {
		width: 2rem;
		height: 2rem;
		padding: 5px;
	}
}

.roles {
	width: 50%;
	ul {
		display: flex;
		justify-content: space-between;
	}
	li {
		list-style: none;
	}
}

.grid {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
}