
.table {
	background-color: var(--card);
	border-radius: 20px;
	padding: 10px;
	width: 728px;
	color: var(--subheading);
	
	tbody {
		animation: myAnim 1s ease 0s 1 normal backwards;
	}
	td {
		text-align: center;
	}
	
}
.row  {
		border: 1px solid #c29136;
}
@keyframes myAnim {
  0% {
    transform: scaleY(0.4);
  }

  100% {
    transform: scaleY(1);
  }
}