@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
* {
	outline: none;
	box-sizing: border-box;
}
:root {
	--bg-primary: #242629;
	--bg-secondary: #16161a;
	--bg: #101827;
	--heading: #fffffe;
	--subheading: #94a1b2;
	--text: #94a1b2;
	--text-default: #adbac7;
	--card: #22272e;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: var(--card);
	color: var(--text-default);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }