.wrapper {
	padding:20px;
	flex-grow: 1;
	overflow: auto;

}
.container {
	position: relative;
	height: 40vh;
	min-height: 250px;
	max-height: 350px;
	z-index: 1;
	background-color: #8a3c67;
}

.avatar {
	position: absolute;
	align-items: center;
	z-index: 1;
	bottom: 16px;
	left: 24px;
}

.avatarimg {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid #151728;

}

.name {
	margin-left: 24px;
	margin-bottom: 24px;
	font-size: 22px;
	font-weight: 600;
}