.nav {
	height: 3rem;
	top:0;
	left:0;
	background: rgb(90, 39, 67);
	box-shadow: 3rem 0rem;
	color: #fff;
}

.sidebar {
	width: 220px;
	height: 100%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	transition-duration: 0.2s;
	overflow-y: auto;
	overflow-x: hidden;
}

.menu {
	display: flex;
	flex-direction: column;
	a {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: #808191;
		& + a {
			margin-top: 26px;
		}
	}
}

.title {
	font-size: 12px;
	letter-spacing: 0.07em;
	margin-bottom: 24px;
}

.wrapper {
	border-bottom: 1px solid rgb(128 129 145 / 24%);
	padding: 36px 0;
	width: 145px;
	& + & {
		border-bottom: none;
	}
}