.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}
.wrapper {
	width: 100%;
	display: flex;
	flex-grow: 1;
	overflow: hidden;
}

.left {
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
}
.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.header {
	display: flex;
	align-items: center;
	flex-shrink: 0;
	padding: 30px;
}
